<app-navbar></app-navbar>
<div class="container mx-auto flex w-full gap-5 pt-10">
  <aside class="flex flex-grow-[1] basis-20 flex-col gap-10 px-5">
    <ul>
      <li *ngFor="let link of links">
        <a
          class="group flex w-full items-baseline gap-3 rounded px-3 py-1 hover:bg-sky-100"
        >
          <fa-icon
            [icon]="link.icon"
            class="text-slate-800 group-hover:text-cyan-800"
          ></fa-icon>
          <span
            class="text-lg font-bold text-slate-800 group-hover:text-cyan-800"
            >{{ link.title }}</span
          >
        </a>
      </li>
    </ul>

    <cdk-accordion>
      <cdk-accordion-item #accordionMenu="cdkAccordionItem">
        <button
          class="flex w-full items-center justify-between py-1 px-2"
          type="button"
          (click)="accordionMenu.toggle()"
        >
          My workspace
          <fa-icon
            [icon]="accordionMenu.expanded ? faAngleUp : faAngleDown"
          ></fa-icon>
        </button>
        <div [style.display]="accordionMenu.expanded ? '' : 'none'">
          <ul class="ml-2 flex flex-col text-sm text-gray-700">
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="faTrello"></fa-icon> Boards</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="faHeart"></fa-icon> Highlights</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="faBorderAll"></fa-icon> Views</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="faUsers"></fa-icon> Members</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="faGear"></fa-icon> Settings</a
              >
            </li>
          </ul>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
  </aside>
  <main class="flex-grow-[5] space-y-5">
    <h1 class="flex items-baseline gap-3">
      <fa-icon [icon]="faClock" class="text-3xl text-slate-800"></fa-icon>
      <span class="text-xl font-bold text-slate-800">Reciently viewed</span>
    </h1>
    <div class="grid grid-cols-4 gap-4">
      <article
        *ngFor="let board of boards"
        class="h-28 w-full rounded p-2 font-bold text-white hover:opacity-90"
        [ngStyle]="{ backgroundColor: board.color }"
      >
        <h2>{{ board.title }}</h2>
      </article>
    </div>
  </main>
</div>
